/* Windows 95 CSS Style for Bootstrap */

body, h1, h2, h3, h4, h5, h6, p, a, li, code, samp, cite, blockquote {
	font-family: 'MS Sans Serif';
}

#typography {
		margin-top: -3rem;
}
.modal {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		z-index: 1;
		display: block;
  }
